html {
  background-color:turquoise;
}
/*styles of tags*/



/*styles of classes*/
h1{
  border-style: double;
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 40px;
  padding-left: 10px;
}



/*styles of id s*/
